<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://azurefunctionappblobstorage.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/18888661-b828-4d3f-9c2f-69b2506cf30a/resourceGroups/AR_Navigation/providers/Microsoft.Web/sites/AzureFunctionAppBlobStorage</ResourceId>
    <UserName>$AzureFunctionAppBlobStorage</UserName>
    <_SavePWD>true</_SavePWD>
    <PublishUrl>https://azurefunctionappblobstorage.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>